/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/database
/vendor
.env
.editorconfig
.gitattributes
.styleci.yml
.idea/
*.txt
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
